/* .App {
  text-align: center;
} */
/* https://dunks1980.com/ */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root{
  --textColor: #DAD7CD;
  --textColor2: #A3B18A;
  --textColor3: #588157;
  --backgroundColor: #3A5A40;
  --backgroundColorDark: #344E41;
}

a{
  color: var(--textColor3);
}
body{
  background-color: var(--backgroundColorDark);
  color: var(--textColor);
}
header{
  text-align: center;
}
header h1{
  font-size: 48px;
}


.home-page{
  padding: 50px;
}
.main-message{
  display:flex;
  flex-direction: column;
  color: var(--textColor);
  width: 80%;
  /* justify-content: center; */
}

.main-message p{
  margin-left: 30px;
}
.main-message div:before{
  content:" ";
  width: 2px;
  background: red;
  left: -30px;
}


footer{
  display: block;
}